body{
    margin: 0;
    background-image: linear-gradient(135deg, #dea8b1 0%, #f4d3d8 100%);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faede1;
    padding: 15px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.iconLogo img{
    height: 60px;
    width: auto;
    object-fit: contain;
}

.menubar{
    display: flex;
    gap: 30px;
}

.menubar a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.menubar a:hover{
    color: #e5989b;
}

.iconsPerfil{
    display: flex;
    gap: 20px;
}

.iconsPerfil img{
    width: 23px;
    height: auto;
    cursor: pointer;
}

.imgPrincipal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
}

.ladoEsquerdo, .ladoDireito{
    flex: 1;
}

.imgFloat{
    max-width: 600px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

.ladoEsquerdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-right: 40px;
}

.badgeNovidade{
    background-color: rgba(225, 225, 225, 0.4);
    color: #333;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    width: fit-content;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.ladoEsquerdo h1{
    font-size: 40px;
    color: #333;
    line-height: 1.2;
    margin: 0;
}

.ladoEsquerdo p{
    font-size: 18px;
    color: #555;
    line-height: 1.5;
    margin: 0;
    max-width: 90%;
}

.botoes{
    display: flex;
    gap: 15px;
    align-items: center;
}

.botaoComprar{
    display: inline-block;
    background-color: #333;
    color: #faede1;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 30px;
    border-bottom: 2px solid;
    width: fit-content;
    transition: background-color 3s ease, transform 0.2s ease;
}

.botaoComprar:hover{
    background-color: #555;
    transform: translateY(-3px);
}

.botaoSobreNos{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 30px;
    border-bottom: 2px solid;
    transition: border-color 0.3s ease;
}

.botaoSobreNos:hover{
    transform: translateY(-3px);
}